<link rel="stylesheet" type="text/css" href="../css/style.css" />

<div class="container">

<br />

<h2> <%= book[0].bookTitle %> </h2>

    <h3> Author: <%= book[0].authorName %> </h3>

<h3>
    <a href="<%= book[0].amazonLink %> ">
    Buy Here on Amazon
    </a>
</h3>

<div class="navigationPane">
    <h4>Navigation Pane</h4>
    <a href="/home"> List of Books </a>
    &thinsp;|&thinsp;
    <a href="/AddNewBook"> Add A Book </a>
    &thinsp;|&thinsp;
    <a href="/DeleteABook"> Delete A Books </a>
    <br /><br />
</div>

</div>
</div>