<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="container">

<div class="top">
    <h2 class="header">
        Delete a Book
    </h2>
</div>

<form action="<%= `../bookDelete/${books._id}` %>" method="GET">
    <div class=bookSection>
        <% let x = 0 %>
        <% books.forEach (books => { %>
            <% x++ %>
            <br />
            <div class=books>
            <br />
            <br />
            <button id="<%= books._id %>" type="submit" onclick="if(!confirm('Are you sure you want to delete this book?')){return false;}">
            ❌  <a href="<%= `../bookDelete/${books.bookTitle}` %>" method="GET"  > <%= books.bookTitle %> </a>
            </button> 
            <br />
            <br />
            <br />
            </div>
            <br />
            <%});%>
    </div>
</form>


<div class="navigationPane">
    <h4>Navigation Pane&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</h4>
    <a href="/home"> List of Books </a>
    &thinsp;|&thinsp;
    <a href="/AddNewBook"> Add A Book </a>
    &thinsp;|&thinsp;
    <a href="/DeleteABook"> Delete A Book </a>
    &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;<br /><br />
</div>

</div>