<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="container">

<div class="top">
    <h2 class="header">
        Add a New Book
    </h2>
</div>

<form action="../books/newBookDelete" method="POST">
    
</form>


<div class="navigationPane">
    <h4>Navigation Pane&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</h4>
    <a href="/home"> List of Books </a>
    &thinsp;|&thinsp;
    <a href="/AddNewBook"> Add A Book </a>
    &thinsp;|&thinsp;
    <a href="/DeleteABook"> Delete A Book </a>
    &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;<br /><br />
</div>

</div>