<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="container">

<div class="top">
    <h2 class="header">
    Click any book to view the details.
    </h2>
</div>

<div class=bookSection>
        
        <% let x = 0 %>
        <% books.forEach (books => { %>
            <% x++ %>
            <br />
            <div class=books>
            <br />
            <br />
            <a href="books/<%= x %>" >  <%= books.bookTitle %> </a>
            <br />
            <br />
            <br />
            </div>
            <br />
            <%});%>
</div>

<br /><br />

<div class="navigationPane">
    <h4>Navigation Pane&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</h4>
    <a href="/home"> List of Books </a>
    &thinsp;|&thinsp;
    <a href="/AddNewBook"> Add A Book </a>
    &thinsp;|&thinsp;
    <a href="/DeleteABook"> Delete A Book </a>
    &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;<br /><br />
</div>

</div>

